*.dat
*.csv
*.csv#
*.pdf
*.jpg
*.gif
*.error
*.swp
*.png
*.tiff
*.tif
*.*~*
*.err
*.webm
*.~*
*.log
*.test
*.test.*
*.pyc
*.eps
*.aux
*.xml
*.ini
.metadata
RemoteSystemsTempFiles
.settings
*.o
sss
sss2
*.a
*.seed
.project
.cproject
*.out
*.m
*.txt.out
*.txt_res.m
*.swo
perf*
*.bumat*
*.dep
*.json
*.bak
